.header {
    text-align: center;
    width: 100%;
    background-color: #ffeaa7;
  }
  
 
  .header .logo {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 25px;
    padding: 10px 0 0 10px;
  }

  .mypage-icons {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .mypage-icons:hover {
    cursor: pointer;
  }

  .mypage-icon {
    height: 30px;
  }

  .mypage-icon:hover {
    height: 33px;
  }

  .avatar {
    height: 40px;
    border-radius: 50%;
  }

  .avatar:hover {
    box-shadow: #fd8365;
    border: 1px solid #52514e;;
  }

  .header .h-login {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px 20px 0 0;
    font-size: large;

    background-color: #fdda65;
    padding: 7px;
    border-radius: 5px;
  }

  .header .h-login:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .header .title:hover {
    cursor: pointer;
    color: rgb(252, 253, 231);
  }
  
  .header .title {
    font-size: xx-large;
    font-family: "LOTTERIACHAB";
    padding: 30px 0 15px 0;
  }

  .header .text {
    padding: 0 0 15px 0;
  }

  .h-loginout {
    margin: 10px;

    background-color: #fdda65;
    padding: 7px;
    border-radius: 5px;
  }

  .h-loginout:hover {
    font-weight: bold;
    cursor: pointer;
  }
