.header {
    text-align: center;
    width: 100%;
    background-color: #ffeaa7;
  }
  
  
  .header .logo {
    height: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
  }

  .header .title:hover {
    cursor: pointer;
    color: rgb(252, 253, 231);
  }
  
  .header .title {
    font-size: xx-large;
    font-family: "LOTTERIACHAB";
    padding: 35px 0 15px 0;
  }

  .header .text {
    padding: 0 0 15px 0;
  }