/* 모바일 사이즈 */
@media screen and (max-width: 760px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}

.add-memo {
  padding: 20px;
  background-color: #4d3e00;
  padding: 20px;
  border-radius: 8px;
  width: 240px;
  border: none;
  color: white;
}
