.memoDetail-page {
  margin: 25px;
  min-height: 100%;
}

.memoDetail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}

.memoDetail .MemoDetail-content {
  background-color: #fff3bf;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 1000px;
  border: 1px solid #ffd84d;
  overflow: auto;
  position: relative;
  margin: 20px;
}

.MemoDetail-content {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
  background-color: #fff3bf;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  border: 1px solid #ffd84d;
  overflow: auto;
  position: relative;
}

.MemoDetail-content button {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f0c14b;
  color: #333;
}

.MemoDetail-content button:hover {
  background-color: #e7b035;
}

.MemoDetail-buttons {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
}

.MemoDetail-content button {
  margin-left: 10px;
}

.MemoDetail-content button:first-child {
  margin-left: 0;
}

.content-style {
  width: 100%;
  height: 70%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memo_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
