.back-btn {
    position: absolute;
    top: 150px;
    left: 50px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid rgb(209, 203, 203);
    border-radius: 5px;
    font-family: "omyu-pretty";
  }
  
  .back-btn:hover {
    cursor: pointer;
  }

  .textCount {
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
  }

  .post-form-container {
    width: 600px;
    margin-top: 100px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .post-form-container.beige {
  background-color: #fcf8e3;
  }

  .post-form-container.pink {
    background-color: pink;
    }

    .post-form-container.skyblue {
      background-color: rgb(178, 222, 240);
      }
  
  @media screen and (max-width: 760px) {
    .post-form-container {
      width: 300px;
    }
  }

  .form-group {
    margin-top: 20px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="file"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "omyu-pretty";
    font-size: medium;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .form-buttons {
    text-align: right;
  }
  
  .p-btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(165, 168, 172);
  }
  
  .add-btn {
    background-color: #007bff;
  }
  
  .add-btn:hover {
    background-color: #0056b3;
  }

  .label-container {
    width: 70%;
    display: flex;
    /* justify-content: space-around; */
  }

  