/******  Home.js *****/
.wrap {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
/* haeder */
.header {
  text-align: center;
  width: 100%;
  background-color: rgb(239, 239, 239);
}

.header .logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.header .title {
  font-size: xx-large;
  font-weight: bold;
  font-family: "LOTTERIACHAB";
  padding: 20px 0 15px 0;
}

.header .text {
  padding: 0 0 15px 0;
}

/** footer  */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(239, 239, 239);/* 원하는 배경색상으로 변경하세요 */
  padding: 20px; /* 적절한 패딩값으로 조정하세요 */
  text-align: center; /* 텍스트를 가운데 정렬하거나 필요에 맞게 변경하세요 */
}

/** 본문 */
.container {
  margin-top: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}

/******  Desk.js *****/
.member {
  max-width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member:hover {
  cursor: pointer;
}

.member::after {
  content: "";
  border: 1px solid rgb(203, 199, 199);
  width: 150px;
  height: 150px;
  border-radius: 3px;
  position: absolute;
}

.member .photo {
  position: relative;
  top: -35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blue;
  z-index: 1;
  border: 1px solid rgb(203, 199, 199);
}

.member .intern {
  position: relative;
  top: -10px;
  z-index: 1;
}

.intern .intern_name {
  font-weight: bold;
}

.intern .intern_intro {
  margin: 0 15px;
}


/***** Memo.js css *****/

.memo {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns {
  margin-bottom: 50px;
}
.btn {
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: #4C2A2A;
  border: 1px solid #4C2A2A;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.notebook {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  margin: 20px;
  background-color: rgb(108, 108, 106);
  background-image: linear-gradient(to bottom right, rgb(133, 133, 130), rgb(53, 53, 51));
}

.keyboard {
  width:600px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  margin-right: 25px;
}

.mouse {
  width: 80px;
}

.place {
  background-color: #e0d9d9;
  padding: 40px;
  margin-top: 20px;
  border-radius: 8px;
}

/***** postit.js *****/
.back-btn {
  position:absolute;
  top: 30px;
  left: 30px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid rgb(209, 203, 203);
}
.back-btn:hover {
  cursor: pointer;
}

.post-form-container {
  max-width: 600px;
  margin-top: 100px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical; /* 사용자가 수직 방향으로 크기 조정 가능 */
}

.form-buttons {
  text-align: right;
}

.p-btn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgb(165, 168, 172);
}

.add-btn {
  background-color: #007bff;
}

.add-btn:hover {
  background-color: #0056b3;
}