/******  Home.js *****/
.wrap {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* haeder */
.header {
  text-align: center;
  width: 100%;
  background-color: #ffeaa7;
}


.header .logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.header .title {
  font-size: xx-large;
  font-family: "LOTTERIACHAB";
  padding: 25px 0 15px 0;
}

.header .text {
  padding: 0 0 15px 0;
}

/** footer  */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #ffeaa7;
  text-align: left;
}

.footer .text {
  margin: 3px;
}

/** 본문 */
.container {
  margin-top: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}

/* 모바일 사이즈 */
@media screen and (max-width: 760px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}

/******  Desk.js *****/
.member {
  min-width: 80px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member:hover {
  cursor: pointer;
}

.member::after {
  content: "";
  border: 1px solid rgb(203, 199, 199);
  width: 150px;
  height: 150px;
  border-radius: 3px;
  position: absolute;
}

@media screen and (max-width: 760px) {
  .member::after {
    width: 100px;
  }
}

.member .photo {
  position: relative;
  top: -35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1;
  border: 1px solid rgb(203, 199, 199);
}

.member .intern {
  position: relative;
  top: -10px;
  z-index: 1;
}

.intern .intern_name {
  font-weight: bold;
}

.intern .intern_intro {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

/* 모바일 사이즈 */
@media screen and (max-width: 760px) {
  .intern .intern_intro {
    width: 100px;
  }
}


/***** Memo.js css *****/

.writer {
  font-weight: bold;
}

.note.square {
  background-color: #fcf8e3;
  border: 1px solid #f5d6ab;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 760px) {
  .note.square {
    width: 50px;
    height: 50px;
    font-size: small;
  }
}

.note.heart {
  position: relative;
  width: 150px;
  height: 135px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note.heart::before,
.note.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 75px;
  height: 120px;
  background-color: pink;
  border-radius: 50px 50px 0 0;
}


.note.heart::before {
  left: 75px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.note.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/* 노트글자 */
.note p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin: 0;
  padding: 0.5rem;
  z-index: 1;
}

.note.heart p {
  position: relative;
  margin-top: -40px;
}

.note.square p {
  position: relative;
  margin-top: 30px;
}


.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

.btns {
  margin-bottom: 50px;
}

.btn {
  padding: 10px 15px;
  font-size: medium;
  margin: 5px 10px;
  background-color: #4C2A2A;
  border: 1px solid #4C2A2A;
  border-radius: 5px;
  color: white;
  font-family: "omyu-pretty";
}

.btn:hover {
  cursor: pointer;
}

.notebook {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
  background-color: rgb(108, 108, 106);
  background-image: linear-gradient(to bottom right, rgb(133, 133, 130), rgb(53, 53, 51));
  position: relative;
  overflow: auto;
}

/* 모바일 사이즈 */
@media screen and (max-width: 760px) {
  .notebook {
    width: 300px;
    height: 200px;
  }
}

.keyboard {
  width: 600px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  margin-right: 25px;
}

/* 모바일 사이즈 */
@media screen and (max-width: 760px) {
  .keyboard {
    width: 280px;
  }
}

.mouse {
  width: 80px;
}

@media screen and (max-width: 760px) {
  .mouse {
    width: 40px;
  }
}

.place {
  background-color: #e0d9d9;
  padding: 40px;
  margin-top: 20px;
  border-radius: 8px;
}

/***** postit.js *****/
.back-btn {
  position: absolute;
  top: 150px;
  left: 50px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid rgb(209, 203, 203);
  border-radius: 5px;
  font-family: "omyu-pretty";
}

.back-btn:hover {
  cursor: pointer;
}

.post-form-container {
  width: 600px;
  margin-top: 100px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media screen and (max-width: 760px) {
  .post-form-container {
    width: 300px;
  }
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
}

.form-buttons {
  text-align: right;
}

.p-btn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgb(165, 168, 172);
}

.add-btn {
  background-color: #007bff;
}

.add-btn:hover {
  background-color: #0056b3;
}