/** 
Home.js
*/
.wrap {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
/** haeder */
.title_box {
  width: 800px;
  background-color: rgb(239, 239, 239);
  border-radius: 3px;
}

.title_box .logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.title_box .title {
  font-size: xx-large;
  font-weight: bold;
  padding: 20px 0 15px 0;
}

.title_box .text {
  padding: 0 0 15px 0;
}

/** 본문 */
.container {
  margin-top: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}

.desk {
  max-width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desk:hover {
  cursor: pointer;
}

.desk::after {
  content: "";
  border: 1px solid rgb(203, 199, 199);
  width: 150px;
  height: 150px;
  border-radius: 3px;
  position: absolute;
}

.desk .photo {
  position: relative;
  top: -35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blue;
  z-index: 1;
}

.desk .intern {
  position: relative;
  top: -10px;
  z-index: 1;
}

/** Memo.js css */
.memo {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns {
  margin-bottom: 50px;
}
.btn {
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: #4C2A2A;
  border: 1px solid #4C2A2A;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.notebook {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  margin: 20px;
  background-color: rgb(108, 108, 106);
  background-image: linear-gradient(to bottom right, rgb(133, 133, 130), rgb(53, 53, 51));
}

.keyboard {
  width:600px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  margin-right: 25px;
}

.mouse {
  width: 80px;
}

.place {
  background-color: #e0d9d9;
  padding: 40px;
  margin-top: 20px;
  border-radius: 8px;
}

/** postit */
